.footer_top {
    width: 100%;
    background-color:rgb(244,246,247);
}


.footer_top_page {
    width: 100%;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;

}

.footer_top_page>img {
    width: 28%;
    height: 130%;
    margin-top: -90px;
}

.footer_top_item>h5 {
    color: #999;
    font-size: 15px;
}

.footer_top_item {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
    line-height: 1.5;
}

.footer_top_item_brend {
    display: flex;
    gap: 10px;
}

.footer_top_location {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.footer_top_location>img {
    width: 100px;
    height: 100px;
}

.footer_top_location>p {
    text-align: center;
    color: #999;
    font-size: 15px;
}

.footer_top_item_brend_button {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 189, 67);
    font-weight: bold;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1000px) {
    .footer_top_location {
        display: none;
    }

    .footer_top_page {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .footer_top_item_brend {
        display: none;
    }

    .footer_top_item_brend_button {
        display: block;
    }
}

@media screen and (max-width: 830px) {
    .footer_top_page>img {
        width: 38%;
        height: 130%;
    }
}

@media screen and (max-width: 640px) {
    .footer_top_page {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
        padding: 50px 0;
        margin: 0;
    }

    .footer_top_page>img {
        width: 300px;
    }

}